.containerc {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

/*.col-md-12 {
	background-color: black;
}

.form-horizontal {
	background-color: black;
}*/

.well-sm {
	background-color: #fff;
}

fieldset.content-block {
	background-color: #fff;
}

.btn-primary {
	background-color: #000000 !important;
	color: #FFFFFF !important;
	width: 60%;
	border-color: #000000 !important;
}

#cajainterna {
	margin-left: auto;
	margin-right: auto;
}

#infoc p {
	margin: 0;
	padding:0;
}

#cajainterna {
	font-family: 'Narkisim';
	text-align: center;
	color: #000;
}

.content-block{
	max-width: 900px;
	margin: auto;
	padding: 20px;
	background-color: #fff;
}

/*span.col-md-offset-2 {
	margin-left: auto;
	margin-right: auto;
}*/

.form-group #enviar {
	margin-left: auto;
	margin-right: auto;
}