.jumbotron {
	background-color: #000000;
	color: #F8F8FF;
	text-align: center;
	margin-bottom: 0;
	border-radius: 0!important;
	padding-top: 1%;
	padding-bottom: 1%; 
}

@media (max-width: 990px) {
	.jumbotron h1 {
		font-size: 2.5em!important;
	}
	.jumbotron h2 {
		font-size: 1em!important;

	}
}


.container{
	width: 100%!important;
	padding: 0;
}

/*dimensiona visualmente al menu*/
.menu{
	padding: 0;
	width: 80%!important;
}


.jumbotron h1 {
	margin-bottom: 1%!important;
	font-size: 3em;
	font-family: 'Castellar';
	margin: 0;
	letter-spacing: .12em;
}

.jumbotron h2{
	margin:0;
	font-size: 1.5em;
	font-family: 'Miriam Fixed';
	letter-spacing: .4em;
	word-spacing: .1em;
}

.navbar, .navbar-nav{
	float: none;
	vertical-align: top;
	text-align: center!important;
	margin: 0!important;
	border: 0!important;
	font-size: 1em;
	letter-spacing: .1em;
	font-family: 'Narkisim';

}

.navbar, .navbar-collapse{
	
}


/*contenido en en 100% de navbar-collapse*/
li{
	width: 16.6%;
}

.content-section {
	background-image: url("http://www.freejpg.com.ar/asset/900/19/194b/F100007799.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	
}

.content-block{
	width: 80%;
	max-width: 1024px;
	margin: auto;
}

/*imagen de fonde se muestra total*/
.block {
	height: 115vh;
}


footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	opacity: 0.5;
	text-align: center;
	font-family: 'Narkisim';
	color: #000;
	font-size: 1.2em;
	padding: 2px 0;
	z-index: 10000;
}

footer a {
  color: #000;
  font-size: 20px;
  padding: 5px 10px;
  transition: all .5s ease;
}

footer a:hover {
  color: white;
}