.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

#cajainterna {
	font-family: 'Narkisim';
	color: #000;
}

#cajainterna h3{
	margin-top: 0;
}

.content-block{
	max-width: 520px;
	background-color: #fff;
	text-align: center;
	padding: 20px;
  
	background-clip: border-box;
    border-style: outset;
    border-color: #fff;
    border-width: 1pt;
    box-shadow: 10px 10px 5px #000;
}

.content-block img{
	margin-left: auto;
	margin-right: auto;

	width:200px;
	padding: 10px;
	opacity: 0.8;
}